html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

header{
  margin: 10px;
}
div {
  width: 50%;
  height: 50%;
  float: left;
  /* center the content */
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}

.pDiv{
  display: block;
  padding-top: 20px;
}

.full {
  width: 100%;
  height: auto;
  padding: 50px;
}

#div1 {
  background-image: url("images/mirror.jpeg")
}
#div2 {
  background-image: url("images/6.PNG");
  background-size: contain;
}
#div3 {
  /* background: something eventually */
}
#div4 {
  /* background: something eventually */
}

footer {
  text-align: center;
}
